<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foodtoeat.mapper.FoodMapper">

    <select id="pageQuery" resultType="com.foodtoeat.pojo.entity.Food">
        SELECT * FROM food
        order by name desc
        limit #{page}, #{pageSize}
    </select>
</mapper>
